<div class="${baseClass}">
    <canvas class="${baseClass}Title" width="${boardWidth}" height="${boardHeight}"
	    data-dojo-attach-point="canvasNode"
            data-dojo-attach-event="onclick:_onClick"></canvas>
    <img data-dojo-attach-point="boardBkgrdImg" src="${boardImgUrl}" style="display:none"></img>
    <img data-dojo-attach-point="whiteStoneImg" src="${whiteStoneImgUrl}" style="display:none"></img>
    <img data-dojo-attach-point="blackStoneImg" src="${blackStoneImgUrl}" style="display:none"></img>
</div>
