<div class="${baseClass}">
    <canvas class="${baseClass}Title" width="${boardWidth}" height="${boardHeight}"
	    data-dojo-attach-point="canvasNode"
            data-dojo-attach-event="onclick:_onClick"></canvas>
    <img data-dojo-attach-point="boardBkgrdImg" src="resource/board/1.jpg" style="display:none"></img>
    <img data-dojo-attach-point="whiteStoneImg" src="resource/stone/white.jpg" style="display:none"></img>
    <img data-dojo-attach-point="blackStoneImg" src="resource/stone/black.jpg" style="display:none"></img>
</div>
